<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Danila Nenashev" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">

    <title>Создание задачи</title>
</head>
<body>
    <header class='rubik-mono-one-regular'>
        <a class="link_img" href="/">
          <img class="header__img" src="{{ url_for('static', filename='img/icon_base.png') }}" alt="icon_base">
        </a>

        <div class="Top_menu">
            <ul>
                {% if current_user.role == 'moderator' %}
                    <li><a href="{{ url_for('create_task') }}">Создание задачи</a></li>
                    <li><a href="{{ url_for('change_task') }}" class="nav-link px-3 link-secondary" >Изменение задачи</a></li>
                    <li><a href="{{ url_for('all_history') }}" class="nav-link px-3 link-secondary" >История всех задач</a></li>
                    <li><a href="{{ url_for('user_stat') }}" class="nav-link px-3 link-secondary" >Статистика работников</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="Auth_buttons">
                <button class='rubik-mono-one-regular' onclick="window.location.href = '{{ url_for('logout') }}';">Выйти</button>
        </div>
    </header>

    <main>
        <h1 class="title kelly-slab-regular"><strong>Редактирование задачи</strong></h1>

        <div class="task-container kelly-slab-regular">
            <form method="post">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ task.name }}">
                </div>

                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea class="form-control" id="description" name="description">{{ task.description }}</textarea>
                </div>

                <p>Выберите работников:</p>
                <div id="userCheckboxes" class="form-group">
                    {% for user in users %}
                        <div>
                            <input type="checkbox" id="user_{{ user.user_id }}" name="user_ids" value="{{ user.user_id }}" class="user-checkbox">
                            <label for="user_{{ user.user_id }}">{{ user.login }}</label>
                        </div>
                    {% endfor %}
                </div>


                <div class="form-group">
                    <label for="deadline">Дедлайн</label>
                    <input type="datetime-local" class="form-control" id="deadline" name="deadline" value="{{ task.deadline }}">
                </div>

                <div class="form-group">
                    <p>Выберите категорию:</p>
                    <div>
                        <input type="radio" name="category_id" id="category_light" value="1" checked>
                        <label for="category_light">1: Физическая</label>
                    </div>
                    <div>
                        <input type="radio" name="category_id" id="category_norm" value="2">
                        <label for="category_norm">2: Логическая</label>
                    </div>
                    <div>
                        <input type="radio" name="category_id" id="category_hard" value="3">
                        <label for="category_hard">3: Физическая и логическая</label>
                    </div>
                </div>

                <button class="kelly-slab-regular" type="submit">Изменить</button>
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </main>

</body>
</html>