<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Danila Nenashev" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">

    <title>Ваши задачи</title>
</head>
<body>
    <header class='rubik-mono-one-regular'>
        <a class="link_img" href="/">
          <img class="header__img" src="{{ url_for('static', filename='img/icon_base.png') }}" alt="icon_base">
        </a>

        <div class="Top_menu">
            <ul>
                {% if current_user.role == 'worker' %}
                    <li><a href="{{ url_for('tasks') }}">Ваши задачи</a></li>
                    <li><a href="{{ url_for('history') }}" class="nav-link px-3 link-secondary" >История задач</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="Auth_buttons">
                <button class='rubik-mono-one-regular' onclick="window.location.href = '{{ url_for('logout') }}';">Выйти</button>
        </div>
    </header>

    <main>
        <h1 class="title kelly-slab-regular"><strong>Ваши задачи</strong></h1>

        {% for task in tasks %}
            <br>

            <div class="task-container kelly-slab-regular">
                <p class="task-info"><strong>Название: </strong> {{ task.name }}</p>
                <p class="task-info"><strong>Описание: </strong> {{ task.description }}</p>
                <p class="task-info">
                    <strong>Выполняют:</strong>
                    {% for user_task in task.users_tasks %}
                        {{ user_task.user.login }},
                    {% endfor %}
                </p>
                <p class="task-info"><strong>Дата начала: </strong> {{ task.start_date }}</p>
                <p class="task-info"><strong>Дедлайн:</strong> {{ task.deadline }}</p>
                <button class="kelly-slab-regular" onclick="completeTask({{ task.task_id }});">Выполнил</button>
            </div>

            <br>
        {% endfor %}
    </main>


    <script>
    function completeTask(taskId) {
        fetch('/complete_task/' + taskId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok) {
                location.reload(); // Перезагрузка страницы после успешного выполнения задачи
            } else {
                console.error('Ошибка выполнения задачи');
            }
        })
        .catch(error => {
            console.error('Ошибка выполнения задачи:', error);
        });
    }
    </script>

</body>
</html>